.diferenciais {
  padding-left: 80px;
  margin-bottom: 200px;
}
.diferenciais h1 {
  line-height: 2rem;
  padding-top: 28px;
}
.diferenciais-grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  overflow-x: auto;
  position: relative;
}
.diferenciais-grid:last-child {
  padding-right: 80px;
}

.diferenciais-bloco {
  background-color: var(--azul);
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 290px;
}

.icon-diferenciais {
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--azul);
  align-self: center;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
}

.diferenciais-bloco p {
  margin-top: 80px;
  margin-bottom: 44px;
}
.grid-seta {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: top;
}

@keyframes moveRightAndBack {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

.grid-seta img {
  animation: moveRightAndBack 3s ease-in-out infinite;
  margin-right: 20px;
}

@media (max-width: 750px) {
  .diferenciais {
    padding-left: 40px;
    margin-bottom: 100px;
  }
  .diferenciais h1 {
    padding-top: 14px;
  }
  .diferenciais-grid:last-child {
    padding-right: 40px;
  }
  .diferenciais-grid {
    margin-top: 40px;
    gap: 20px;
  }
}
