.diferenciais-home-padding {
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  overflow-x: auto;
  white-space: wrap;
}
.diferenciais-home h3 {
  margin-bottom: 4px;
}
.diferenciais-home h2,
.diferenciais-home h3 {
  text-align: center;
}
.caixa-diferenciais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 255px;
  margin-top: 60px;
  flex: 0 0 auto;
}
.caixa-diferenciais-conteudo {
  background-color: var(--azul-1);
  text-align: center;
  width: 100%;
}

.caixa-diferenciais-conteudo p {
  padding: 60px 20px 20px 20px;
}
.caixa-diferenciais-icon {
  background-color: var(--branco-2);
  padding: 14px;
  border-radius: 50%;
  border: 2px solid var(--azul-1);
  position: absolute;
  margin-bottom: calc(-50% + 20px);
}
.caixa-diferenciais:last-child {
  margin-right: 60px;
}
@media (max-width: 750px) {
  .diferenciais-home-padding {
    padding-left: 35px;
    gap: 20px;
  }
  .diferenciais-home h2,
  .diferenciais-home h3 {
    text-align: left;
    padding-left: 35px;
  }
  .caixa-diferenciais {
    margin-top: 40px;
  }
  .caixa-diferenciais-conteudo p {
    margin-top: 20px;
  }
  .caixa-diferenciais:last-child {
    margin-right: 35px;
  }
}
