.header-home {
  margin-bottom: 200px;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.header-home .nav {
  margin-bottom: 100px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav li {
  display: inline-block;
  margin-left: 52px;
  padding: 32px 0px;
}
.conteudo-header p {
  margin-bottom: 20px;
}
.conteudo-header h1 {
  margin-bottom: 32px;
  line-height: 100%;
}
.conteudo-header span {
  display: flex;
  gap: 4px;
  align-items: center;
}
@media (max-width: 1050px) {
  .header-home {
    margin-bottom: 100px;
  }
  .header-grid {
    gap: 20px;
  }
  .nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header-grid {
    grid-template-columns: 1fr;
  }
  .conteudo-header h1 {
    margin-bottom: 20px;
  }
  .conteudo-header p {
    margin-bottom: 12px;
  }
}
