[data-menu="button"] {
  display: none;
}

@media (max-width: 1150px) {
  .js [data-menu="button"] {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    position: relative;
    z-index: 300;
  }
  .js [data-menu="button"].active {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  #menu {
    display: none;
    margin-left: 0px;
    position: absolute;
    background: var(--azul-1);
    max-width: 160px;
    z-index: 200;
    top: 0;
    right: 0;
    padding: 140px 12px 20px 100%;
    text-align: right;
    border-bottom: 2px solid var(--branco-0);
  }
  #menu li {
    color: var(--branco-0);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 32px;
  }
  #menu.active {
    display: block;
  }
  .nav-links .botao {
    display: none;
  }
  .nav li::after {
    content: "";
    display: none;
  }
  .logo-menu {
    max-width: 50vw;
  }
}
