.container {
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.contain {
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.botao {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--branco-2);
  background-color: var(--azul-2);
  padding: 6px 24px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.botao-2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--azul-1);
  border: 2px solid var(--azul-1);
  background-color: transparent;
  padding: 6px 24px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.botao:hover {
  background-color: var(--azul-4);

  transition: color 0.3s, background-color 0.3s;
}
.botao-2:hover {
  background-color: var(--branco-1);
  transition: color 0.3s, background-color 0.3s;
}
@media (max-width: 750px) {
  .botao {
    padding: 8px 16px;
    font-size: 1.25rem;
    white-space: nowrap;
  }
  .botao-2 {
    padding: 8px 16px;
    font-size: 1.25rem;
    white-space: nowrap;
  }
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 250px) {
  .botao,
  .botao-2 {
    padding: 2px 4px;
  }
}
