.opinioes-cliente {
  margin-bottom: 200px;
}
.opinioes-cliente h1 {
  padding-top: 28px;
  line-height: 3rem;
  margin-bottom: 80px;
}
.cliente-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bloco-cliente:nth-child(1) {
  padding-left: 19px;
  padding-right: 19px;
  border-right: 2px solid var(--azul);
}
.bloco-cliente:nth-child(2) {
  padding-left: 19px;
  padding-right: 19px;
  border-right: 2px solid var(--azul);
}
.bloco-cliente:nth-child(3) {
  padding-left: 19px;
  padding-right: 19px;
}
.identificacao-cliente {
  display: flex;
  align-items: center;
}
.identificacao-cliente p {
  margin-right: 40px;
}
.identificacao-cliente img {
  max-width: 80px;
  margin-right: 28px;
}
.identificacao-cliente img:last-child {
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid var(--azul);
  border-radius: 20%;
}
.texto-cliente h3 {
  margin-top: 32px;
  margin-bottom: 28px;
}
.seta-cliente {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1200px) {
  .cliente-grid {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .bloco-cliente:nth-child(1) {
    border: none;
  }
  .bloco-cliente:nth-child(2) {
    padding-left: 0px;
    border: none;
  }
  .bloco-cliente:nth-child(3) {
    display: none;
  }
}
@media (max-width: 850px) {
  .cliente-grid {
    grid-template-columns: 1fr;
  }
  .bloco-cliente:nth-child(1) {
    padding-left: 0;
  }
  .bloco-cliente:nth-child(2) {
    display: none;
  }
}
@media (max-width: 750px) {
  .opinioes-cliente {
    margin-bottom: 100px;
  }
  .opinioes-cliente h1 {
    margin-bottom: 40px;
    padding-top: 14px;
    line-height: 100%;
  }
  .texto-cliente h3 {
    margin-top: 28px;
    margin-bottom: 14px;
  }
}
